*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  width: 100%;
  height: 100%;
}

.header{
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mini-cart{
  position: relative;
  margin-right: 30px;
  cursor: pointer;
}
.mini-cart img{
  width: 26px;
  height: 30px;
}
.mini-cart .total-numb{
  position: absolute;
  top: -10px;
  right: -15px;
  width: 20px;
  height: 20px;
  background-color: #313131;
  color: #fff;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
}
.mini-cart .cart-item{
  padding: 8px;
  color: #313131;
  max-width: 200px;
  width: 200px;
}

.products-list {
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.products-list .product-item {
  width: 250px;
  height: 300px;
}

.product-item img {
  width: 100%;
  height: 100%;
}

.card-body {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}